.section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.space {
    background-image: url('/space.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
}

.window {
    background-image: url('/window.svg');
    background-position: top right;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    align-self: flex-end;
    padding-bottom: 75%;
    margin-right: -30%;
}

.spaceOutline {
    background-image: url('/space-outline.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
    position: absolute;
    z-index: 0;
    left: 9px;
    top: 9px;
}

.content {
    font-size: .82rem;
    padding: 12pt;
    margin-bottom: 24pt;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.callout {
    color: #DA4167;
    display: inline-block;
    border-bottom: 3pt solid #DA4167;
}

.body {
    line-height: 1.5em;
}

.illustration {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    align-self: flex-end;
    margin-right: -30%;
}

.grid {
    background-image: url('/grid.svg');
    background-position: top right;
    background-size: 25%;
    width: 100%;
    background-repeat: repeat;
    z-index: -1;
    align-self: flex-end;
    padding-bottom: 75%;
    position: absolute;
    top: 24pt;
    left: 24pt;
}

.lightSection {
    background-color: white;
    color: black;
}

.wave {
    background-image: url('/wave.svg');
    background-position: center bottom;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    align-self: flex-end;
    transform: rotateZ(180deg);
    height: 100px;
    margin-top: -24pt;
}