.section {
    display: flex;
    flex-direction: column;
    margin-top: 48pt;
    margin-bottom: 48pt;
}

.section--light {
    color: white;
}

.presentation {

}

.presentation__title {
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 24pt;
}

.presentation__subtitle {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em;
    color: #888;
}

.background-container {
    background-color: #2958E6;
    overflow: hidden;
}

.bottomBackgroundOverlay {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.space {
    background-image: url('/space.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
}

.window {
    background-image: url('/window.svg');
    padding-bottom: 50%;
    position: relative;
    z-index: 1;
}

.spaceOutline {
    background-image: url('/space-outline.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
    position: absolute;
    z-index: 0;
    left: 9px;
    top: 9px;
}

.content {
    font-size: 1em;
    margin-bottom: 24pt;
}

.title {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 24pt;
}

.callout {
    color: #DA4167;
    display: inline-block;
    border-bottom: 3pt solid #DA4167;
}

.body {
    line-height: 1.5em;
    display: inline-block;
    margin: 0;
    margin-bottom: 24pt;
}

.illustration {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    align-self: flex-end;
    margin-right: -30%;
    margin-bottom: 24pt;
}

.grid {
    background-image: url('/grid.svg');
    background-position: top right;
    background-size: 25%;
    width: 100%;
    background-repeat: repeat;
    align-self: flex-end;
    padding-bottom: 75%;
    position: absolute;
    top: 24pt;
    left: 24pt;
    z-index: 0;
}

.wave {
    background-image: url('/wave.svg');
    background-position: center bottom;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    align-self: flex-end;
    transform: rotateZ(180deg);
    height: 100px;
    min-width: 500px;
}

.spotlights {
    position: relative;
    width: 100%;
    margin-left: 12pt;
    margin-bottom: 24pt;
    z-index: 1;
}

.yellowSpotlight {
    background-image: url('/search.svg');
    width: 75%;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-position: top left;
}

.lines {
    background-image: url('/lines.svg');
    background-size: 100%;
    padding-bottom: 100%;
    position: absolute;
    top: -36px;
    z-index: -1;
    width: 100%;
}

.woman {
    background-image: url('/woman.svg');
    background-size: 100%;
    padding-bottom: 50%;
    z-index: -1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 24pt;
}

.wave--reversed {
    transform: none;
}