.container {
    margin: 12pt;
}

.section {
    display: flex;
    flex-direction: column;
}

.space {
    background-image: url('/space.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
}

.illustration {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.spaceship {
    background-image: url('/spaceship.svg');
    background-position: center center;
    background-size: 100%;
    width: 50%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
    position: absolute;
    z-index: 2;
    right: -24px;
    top: 24px;
}

.spaceOutline {
    background-image: url('/space-outline.svg');
    background-position: center center;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
    position: absolute;
    z-index: 0;
    left: 9px;
    top: 9px;
}

.content {
    font-size: .82rem;
}

.code {
    background-image: url('/code.svg');
    background-position: 25% 45%;
    background-size: 50%;
    width: 100%;
    background-repeat: no-repeat;
    padding-bottom: 75%;
    position: absolute;
    z-index: 3;
}

.title {
    font-weight: bold;
    font-size: 2rem;
}

.callout {
    color: #DA4167;
    display: inline-block;
    border-bottom: 3pt solid #DA4167;
}