.navbar {
    padding: 12pt 0;
    margin-bottom: 36pt;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-image: url('/logo.svg');
    width: 48px;
    height: 48px;
    background-size: contain;
    margin-right: 12pt;
    background-repeat: no-repeat;
}

.brand {
    font-size: 2em;
    font-weight: bold;
    color: #2958E6;
    display: none;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 12pt 24pt;
    color: white;
    background-color: #2958E6;
    border-radius: 36px;
}

.navLeft {
    display: flex;
    align-items: center;
    margin-right: 24pt;
}