.card {
    display: block;
    background-color: #EEE;
    margin-bottom: 12pt;
    border-radius: 6pt;
    text-align: center;
    padding: 12pt 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card__title {
    display: block;
    font-size: 2em;
    color: rgba(0, 0, 0, .75);
    font-weight: bold;
    margin: 0;
    margin: 12pt;
}

.card__subtitle {
    display: block;
    font-size: 1em;
    color: rgba(0, 0, 0, .5);
    font-weight: normal;
    margin: 0;
    margin: 12pt;
}

.card__button {
    display: inline-block;
    padding: 12pt 24pt;
    background-color: #DB3069;
    color: white;
    border-radius: 36pt;
    margin: 12pt;
}

.card__illustration {
    padding: 24pt;
    background-color: rgba(0, 0, 0, .12);
    border-radius: 100%;
    font-size: 48pt;
    color: rgba(0, 0, 0, .5);
}